input[type=text] {
    margin-left: 24px;
    font-family: Arial, Serif;
    color: black;
    background-color: #d6d6d6;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    width: 28%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    font-family: Arial, serif;
    color: black;
    background-color: #d6d6d6;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    padding: 12px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content-wrapper {
    padding: 10%;
}

#add-question {
    grid-template-columns: 2fr 1fr;
    text-align: left;
}

.add_question div {
    border-radius: 5px;
    color: #AAAAAA;
    padding: 20px;
    margin-left: 24px;
    display: grid;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#title, #add-question {
    box-shadow: 0px 10px 25px 15px #333;
}
