/* General */

body {
    background: #43464b;
    margin: 10px;
}

body p {
    color: #F4B350;
}

body a {
    color: #E7903C;
}

body a:hover {
    color: #FF6347;
    text-decoration: none;
}

button {
    border-radius: 3px;
    color: black;
}

.buttons {
    border-radius: 3px;
    color: black;
}

button a {
    color: black;
}

h3 {
    color: #AAAAAA;
}

h1 {
    color: #AAAAAA;
    font-weight: bold;
}

textarea {
    font-family: Arial, serif;
    background-color: #d6d6d6;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    color: black;
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

font {
    font-family: Helvetic, monospace;
}

i {
    color: black;
}

hr {
    margin-left: 24px;
}

.content_wrapper {
    margin: 10px;
}

#search_phrase {
    background-color: rgb(13, 13, 13);
}

/* home.html */

.home {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.index {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.headbar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    text-align: center;
}

.questions {
    padding: 10px;
    text-align: center;
    box-shadow: 0px 10px 25px 15px;
    border-radius: 5px;
}

.selectors {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#selectors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#selectors div {
    display: block;
    margin: 10px;
}


#search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

#question {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#table_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#table_header h2 {
    color: #AAAAAA;
}

/* question.html */

.question_page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 24px;
    padding: 10px;
}

.question_page i {
    color: #E7903C;
}

.question_page i:hover {
    color: #FF6347;
}

.answers_comments, .question {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.question_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
    padding: 10px;
    text-align: center;
}

.q_main {
    box-shadow: 0px 10px 25px 15px;
    padding: 10px;
    border-radius: 5px;
}

.q_main h2 {
    font-size: 2em;
    color: #AAAAAA;
}

.q_main p {
    font-size: 1.5em;
}

.sub_data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.sub_data p {
    font-size: 0.8em;
    color: #AAAAAA;
}

.answer-head-text {
    margin: 6px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 43%;
}

.answers {
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
}

.answer_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    padding: 10px;
    text-align: center;

}

#answer {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    padding: 10px;
    border-radius: 5px;
}

#comments {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    text-align: left;
}

#comment {
    padding: 10px;
}

.sub_data#comment {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

#submit_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* comment.html */

.answer_comment {
    margin-top: 35px;
    box-shadow: 0px 10px 25px 15px;
    border-radius: 6px;
    padding: 10px;
    width: 60%;
}

#message p {
    font-size: 1.5em;
}

.comment_content {
    margin-left: 24px;
}

#answ_mssg p {
    font-size: 1.5em;
}
/*#answer_form {*/
/*    border-radius: 5px;*/
/*}*/

/*.q_answer {*/

/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    display: grid;*/
/*    grid-template-rows: 1fr;*/
/*    grid-row-gap: 1fr;*/

/*}*/

/*.answers {*/
/*    border-radius: 5px;*/
/*    width: 45%;*/
/*    box-shadow: 0px 10px 25px 15px;*/
/*}*/

/*.q_answer p {*/
/*    color: #AAAAAA;*/
/*}*/

/*.q_answer h4, h5{*/
/*    color: #F4B350;*/
/*}*/

/*.answer_comment {*/
/*    border-radius: 5px;*/
/*    width: 34%;*/
/*    padding: 10px*/
/*}*/

/*.answer_comment h3 {*/
/*    color: #F4B350;*/
/*}*/

/*.answer_comment_form {*/
/*    border-radius: 5px;*/
/*}*/

/*.q_answ_comm {*/
/*    margin-left: 40px;*/

/*}*/

/*.comment_button {*/
/*    display: grid;*/
/*    grid-template-columns: 0fr 0fr 8fr 6fr;*/

/*    text-align: center;*/
/*}*/

/*.answer_comment_form {*/
/*    padding: 10px;*/
/*}*/

/*.answer-message-part {*/
/*    border-radius: 8px;*/
/*    padding: 5px;*/
/*}*/

/*.answer-comment-part {*/
/*    border-radius: 8px;*/
/*}*/


