input[type=text] {
    background-color: #181a1b;
    width: 28%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    background-color: #181a1b;
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.content-wrapper {
    padding: 10%;
}

div {
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(60, 65, 70);
    padding: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#hr {
    border: 2px solid #E7903C;
}

