{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style/theme_add_question.css') }}>
{% endblock %}

{% block content %}
    <div class="add_question">
        <form method="post" action="{{ url_for('add_question') }}">

            <div id="title">
                <label for="title">Question Title: </label>

                <input name="title" type="text">
            </div>

            <hr id="hr">

            <div id="text">
                <textarea name="message" placeholder="Your Question..." rows="10"></textarea>
            </div>

            <div id="tag-selector">
                <label for="tag-selector">Select tag</label>
                <select name="tag-selector">

                    <option name="None" value=None>None</option>
                    {% for tag in tags %}
                        <option name="{{ tag.name }}" value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="file">
                <input type="file" name="image">
            </div>

            <div id="submit">
                <button name="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}