{% extends 'layout.html' %}
{% block content %}
     {% if edit  %}
        <div id="edit_comment">
            <form name="edit_comm_form" method="post">
                <textarea name="edit_comment" id="edit_com" cols="50" rows="8">{{ comment.message }}</textarea>
                <div>{{ comment.submission_time }}</div>
                <button type="submit">Edit</button>
            </form>
        </div>
    {% else %}

    <div id="answer_comment">
                <div>{{ answer.message }}</div>
                <div>{{ answer.submission_time }}</div>
            </div>
            <div id="answer_comment">
                <h3>Your comment:</h3>
                    <form name="answer_comment" method="post">
                        <textarea name="answer_comment" id="comment_form" cols="50" rows="8"></textarea>
                        <button type="submit">Submit</button>
                    </form>
            </div>
   {% endif %}
{% endblock %}