{% extends 'layout.html' %}

{% block content %}

    <div class="question">
        <div>{{ question.title }}</div>
        <div>{{ question.message }}</div>
        <div>{{ question.submission_time }}</div>
        <div class="question_buttons">
            <div><a href="{{ url_for('upvote_question', question_id=question.id) }}"><button>Upvote</button></a></div>
            <div><a href="{{ url_for('edit_question', question_id=question.id) }}"><button>Edit</button></a></div>
            <div><a href="{{ url_for('delete_question', question_id=question.id) }}"><button>Remove</button></a></div>
            <div></div>
        </div>
    </div>
    <div>Answers:</div>
    <div class="answers">
        {% for answer in answers %}
        <div id="answer">
            <div>{{ answer.message }}</div>
            <div>{{ answer.submission_time }}</div>
            <div><a href="{{ url_for('edit_answer', answer_id=answer.id) }}"><button>Edit</button></a></div>
        <div><button onclick="location.href='/comment/{{ answer.id }}/new_comment'" type="button">Comment</button></div>
                {% for comment in comments %}
                    {% if comment.answer_id == answer.id%}
                        <div>{{ comment.message }}</div>
                        <div><a href="{{ url_for('edit_comment', comment_id=comment.id) }}"><button>Edit</button></a></div>
                        <div><a href="{{ url_for('delete_comment', comment_id=comment.id) }}" onclick="return confirm('Are you sure you want to delete this item?');"><img src="http://icons.iconarchive.com/icons/icons8/windows-8/48/Industry-Trash-icon.png" height="16" width="13"></a></div>

            </div>
                    {% endif %}
                {% endfor %}
        {% endfor %}
        <div id="user_answer">
            <form name="question" method="post" enctype="multipart/form-data">
                <div>Your answer:</div>
                    <textarea name="answer_message" id="answer_form" cols="50" rows="8"></textarea>
                <button type="submit">Submit</button>
                <div>
                    <input type="file" id="img" name="image" >
                </div>
            </form>
        </div>
    </div>

{% endblock %}