{% extends 'layout.html' %}
{% block content %}
    {% if session %}
        <div class="user_page">
            <div class="user_data">
                <div><h1> {{ user_info.username }} </h1></div>
                <div id="subdata">
                    <div><p> {{ user_info.email }} </p></div>
                    <div><p>{{ user_info.registration_date }}</p></div>
                    <div><p>{{ user_info.reputation }}</p></div>
                </div>

            </div>
            {% if session.id != user_info.id %}
                <div class="friends">
                    <a href="{{ url_for('add_friend', friend_id=user_info.id) }}">Add as Friend</a>
                </div>
                {% for friend in friends %}
                <div id="friend">
                    <a href="{{ url_for('user_page', username=friend.username) }}">{{ friend.username }}</a>
                </div>
                {% endfor %}
            {% else %}
                <div class="friends">
                    <a href="{{ url_for('search_user') }}">Add a new Friend</a>
                </div>
                {% for friend in friends %}
                <div id="friend">
                    <a href="{{ url_for('user_page', username=friend.username) }}">{{ friend.username }}</a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <p>Please <a href="{{ url_for('login') }}">sign in</a> or <a href="{{ url_for('register') }}">sign up</a>!</p>
    {% endif %}
{% endblock %}