{% extends 'layout.html' %}
{% block content %}
    {% if session %}
        <div class="user_page">
            <div class="user_data">
                <h1> {{ user_info.username }} </h1>
                <p> {{ user_info.email }} </p>
            </div>
            {% if session.id != user_info.id %}
                <div class="friends">
                    <a href="{{ url_for('add_friend', friend_id=user_info.id) }}">Add as Friend</a>
                </div>
            {% else %}
                <div class="friends">
                    <a href="{{ url_for('search_user') }}">Add a new Friend</a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <p>Please <a href="{{ url_for('login') }}">sign in</a> or <a href="{{ url_for('register') }}">sign up</a>!</p>
    {% endif %}
{% endblock %}